@model Airline_Reservation_System.Models.Admin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adminEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adminEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adminPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adminPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.adminId">Edit</a> |
    <a asp-action="GetAllAdmin">Back to List</a>
</div>
