@model IEnumerable<Airline_Reservation_System.Models.Admin>

@{
    ViewData["Title"] = "GetAllAdmin";
}

<h1>GetAllAdmin</h1>

<p>
    <a asp-action="AddAdmin">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.adminEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adminPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.adminEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adminPassword)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.adminId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.adminId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.adminId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
