@model IEnumerable<Airline_Reservation_System.Models.Ticket>

@{
    ViewData["Title"] = "BookingHistory";
}

<h1>BookingHistory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*Html.DisplayNameFor(model => model.User)*@
                <h3>Email</h3>
            </th>

            <th>
                @*Html.DisplayNameFor(model => model.User)*@
                <h3>Source</h3>
            </th>

            <th>
                @*Html.DisplayNameFor(model => model.User)*@
                <h3>Destination</h3>
            </th>

            <th>
                @*Html.DisplayNameFor(model => model.User)*@
                <h3>Plain Number</h3>
            </th>
            
            <th>
                @*Html.DisplayNameFor(model => model.Plain)*@
                <h3></h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.userEmail)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Plain.Source)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Plain.Destination)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Plain.plainNumber)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ticketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ticketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ticketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
